<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        a{
            text-decoration: none;
            list-style: none;
            border:5px solid blue;
            background: blue;
            color:white;
            border-radius: 20px;
            margin:5px;

        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                           <h1>User Change Form</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" novalidate="">
                            {% csrf_token %}
                            {{form.as_p}}
                            <input type="submit" value="Change User">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
