<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
<nav class="navbar navbar-default navbar-fixed-top bg-primary">
    <div class="navbar-header">
        <a href="#" class="navbar-brand text-white">Home</a>
    </div>
</nav>
</div>
<div class="container mt-3">
<h1 class="text-center text-white bg-dark">Welcome to Django classes </h1>
<h2 class="text-center Lead">The Best Heroine and ages are Below</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead class="text-uppercase text-center">
        <th >Heroine</th>
        <th>Age</th>
        </thead>
        <tbody class="text-center">
        <tr class="text=center">
            <td>Frances McDormand</td>
            <td>64</td>
        </tr>
        <tr class="text=center">
            <td>Olivia Colman</td>
            <td>47</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>