<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    <div class="container mt-3" align="center">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-secondary">
                        <div class="card-title">
                            <h1 class="display-4">Student Register Form</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {{form.as_p}}
                            <input type="submit" value="Register" class="btn btn-success">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
