<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Hello {{name}} Greeting and thankls for providing the feedback form</h1>
            <a href="" class="btn btn-success">Click here for Homepage</a>
        </div>
    </div>
</body>
</html>
