<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body{
            background: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .pratik{
            margin-top: 250px;
        }
        .jumbotron{
            border-radius: 20%;
        }
    </style>

</head>
<body>
    <div class="container pratik">
        <div class="jumbotron mt-5 bg-warning border-warning" align="center">
        <h1>Welcome to Code with Pratik</h1>
        <hr>
        <a href="/hydjobs/" class="btn btn-success btn-lg btn-lg"> HYD-JOBS</a>
        <a href="/bnglrjobs/" class="btn btn-dark btn-lg btn-lg"> BANAGLORE-JOBS</a>
        <a href="/punejobs/" class="btn btn-danger btn-lg btn-lg"> PUNE-JOBS</a>
        <a href="/mumbaijobs/" class="btn btn-light btn-lg btn-lg"> MUMBAI-JOBS</a>
    </div>
    </div>
</body>
</html>
