body{
    background: url(https://static.dezeen.com/uploads/2019/06/bt-logo-redesign-hero-3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: center;
}
tbody:nth-child(even){
    background-color: transparent;
    color: yellow;
    font-weight: bold;
    font-size: 30px;
}
tbody:nth-child(odd){
    background-color: transparent;
    color: greenyellow;
    font-weight: bold;
    font-size: 30px;
}
table{
    box-shadow: 0 0 10px black;
    border: 5px solid transparent;
}
tr td:Hover {
    color:black;
    background:white;
    font-size: 15px;
}

.container{
    margin-top:500px;
}
.container .jumbotron{
    margin:auto;
}