<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="card mt-5">
                    <div class="card-header bg-warning">
                        <div class="card-title">
                            <h1 class="text-center">Add a Movie the Database</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form |crispy}}<!--Crispy filter with form template -->
                            <input type="submit"  class="btn btn-success" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script>
    $( "#datepicker").datepicker();
  </script>
</body>
</html>
