{% extends "userAuthApp/base.html" %}

{% block content %}
<div class="container" align="center">
    <div class="jumbotron alert alert-dismissable">
        <h1 class="display-4 text-center">Welcome to Python Practice Mock Exam for Indian Pythonista</h1>
        <p class="lead">Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Facilis minima laudantium est quisquam exercitationem mollitia, eveniet delectus molestiae ipsam perspiciatis optio dolorum accusantium accusamus facere aut nesciunt totam sequi deleniti.</p>
        <a href="https://docs.python.org/3/" class="btn btn-success">Python Documentation</a>
    </div>
</div>
{% endblock content %}
