{% extends "todolistApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5 " align="center">
        <h1 class="display-5 alert alert-success"> UPDATE TODOLIST APP USING  VIEW BASE CLASS BASE VIEW</h1>
        <div class="row">
            <div class="col-md-12 mt-auto">
                <h3 class="display-5 alert alert-warning">UPADATE TASK</h3>
                <form action="" method="POST">
                    {{form|crispy}}
                    {%csrf_token%}
                    <input type="submit" value="Update Task" class="btn btn-success">
                    <a href="/" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
